apiVersion: apps/v1
kind: Deployment
metadata:
  name: vulnerable-webapp
  labels:
    app: vulnerable-webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vulnerable-webapp
  template:
    metadata:
      labels:
        app: vulnerable-webapp
    spec:
      containers:
      - name: webapp
        image: security-pipeline-demo-webapp:latest
        ports:
        - containerPort: 5000
        imagePullPolicy: IfNotPresent
